<style>
        .tableOdd {
            background-color: green;
        }
        .tableEven {
            background-color: gold;
        }
</style>

<form name="frmWeather" ng-submit="search()" novalidate>
    <div class="form-group">
                <label>Enter city, country to show weather:</label><br /><br />
                <input type="text" name="txtCity" class="form-control" placeholder="city, country" ng-minlength="10" ng-model="txtCity" ng-required="true"><br /><br />
                <p ng-show="frmWeather.txtCity.$error.required" style="color:red">city, country is required</p>
                <p ng-show="frmWeather.txtCity.$error.minlength" style="color:red">Minimum 10 characters</p>
    </div>
    <input type="submit" value="Show" ng-disabled="frmWeather.$invalid">
    
</form>

 <span ng-show="weatherData.cod == 200">
    <h2>{{ weatherData.city.name }} - {{ weatherData.city.country }}</h2>
 </span>

 <div ng-if="weatherData.cod == '404'">
    <h1>No such city & country</h1>
 </div>

<div ng-show="weatherData.cod == 200">
    <h2>Weather Page</h2>
    <h4>Filter by date: <input type="text" ng-model="txtDate" /> </h4>
        <div ng-repeat="data in weatherData" ng-show="$index == 3" style="100%">
            <table width="100%" border="0" cellpadding="10" cellspacing="10">
                <tr ng-repeat="finalData in filtered = (data | filter:txtDate)"  ng-class="{ tableEven: ($index%2), tableOdd: !($index%2) }">
                    <td> 
                        Min Temp: {{ finalData.main.temp_min }} <br />
                        Max Temp: {{ finalData.main.temp_max }} <br />
                        Pressure: {{ finalData.main.pressure }} <br />
                        Sea level: {{ finalData.main.sea_level }} <br />
                        Ground level: {{ finalData.main.grnd_level }} <br />
                        Humidity: {{ finalData.main.humidity }} <br />
                        Temp in kf: {{ finalData.main.temp_kf }} <br />

                        Weather: {{ finalData.weather[0].main }} <br />
                        Wind speed : {{ finalData.wind.speed }} <br />
                        Wind degree : {{ finalData.wind.deg }} <br />
                        Rain  : {{ finalData.rain.3h }} <br />
                        Prediction date  : {{ finalData.dt_txt }} <br />
                    </td>
                </tr>
                <tr ng-show="filtered.length == 0">
                    <td>
                        <h1>Nothing in here...</h1>
                    </td>
                </tr>
            </table>
        </div>
</div>